.discount {
    color: red;
    font-weight: bold;
}

.content {
    margin: 5rem 0 0 0 !important;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.sign-in {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    max-height: 500px;
}

.portfolio-section {
    padding: 3rem 0;

    &.portfolio-img {
        width: 10px;
        height: 10px;
    }
}

.section {
    padding: 3rem 0;
}

.selected-cars-carousel {

    width: 400px;
    
    .carousel-cell {
        width: 100%;
        /* full width */
        height: 160px;
        /* height of carousel */
        margin-right: 10px;
    }

    .carousel-cell {
        width: 100%;
        height: 300px;
        margin-right: 10px;
        counter-increment: carousel-cell;
    }
}

.home-carousel {

    width: 700px;

    .carousel-cell {
        width: 80%;
        /* full width */
        height: 300px;
        /* height of carousel */
        margin-right: 10px;
    }

    .carousel-cell {
        counter-increment: carousel-cell;
    }
}

.home-hotels-carousel {

    width: 100%;

    .flickity-button {
        background: transparent;

        &:hover {
            background: transparent;
        }
    }

    .flickity-button-icon {
        fill: white;
    }

    .carousel-cell {
        width: 25rem;
        margin-right: 10px;
    }

    .carousel-cell {
        counter-increment: carousel-cell;
    }

    @media (max-width: 576px) {
        .carousel-cell {
            width: 20rem;
            margin-right: 10px;
        }
    }
}

.hotel-covers-carousel {

    .carousel-cell {
        width: 70%;
        /* full width */
        height: 300px;
        /* height of carousel */
        margin-right: 5px;
    }

    .carousel-cell {
        counter-increment: carousel-cell;
    }

    .flickity-button {
        background: transparent;

        &:hover {
            background: transparent;
        }
    }

    .flickity-button-icon {
        fill: white;
    }

    @media (max-width: 576px) {
        .flickity-page-dots {
            display: none;
        }

        .carousel-cell {
            width: 100%;
        }

        .flickity-viewport {
            height: 150px !important;
        }
    }



}

/* smaller, dark, rounded square */
.flickity-button {
    background: #333;
}

.flickity-button:hover {
    background: #F90;
}

.flickity-prev-next-button {
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

/* icon color */
.flickity-button-icon {
    fill: white;
}

/* position outside */
.flickity-prev-next-button.previous {
    left: -40px;
}

.flickity-prev-next-button.next {
    right: -40px;
}

/* position dots up a bit */
.flickity-page-dots {
    bottom: -22px;
}

/* dots are lines */
.flickity-page-dots .dot {
    height: 4px;
    width: 40px;
    margin: 0;
    border-radius: 0;
}

.custom-nav {
    width: 100%;
    height: 20px;
    padding: 3rem;
    background-color: white;
    top: 0;
    position: sticky;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;

    .brand {
        padding: 0 1rem;
        font-size: 2rem;
    }

    .link {
        padding: 0 .8rem;
        font-family: 'Raleway',
        sans-serif !important;
    }

    .flex-equal>* {
        -ms-flex: 1;
        flex: 1;
    }

    @media (min-width: 768px) {
        .flex-md-equal>* {
            -ms-flex: 1;
            flex: 1;
        }
    }
}

.site-header {
    font-family: 'Playfair Display',
    serif;
}

.nav-button {
    display: inline-block;
    border: .3rem solid #3490dc;
    padding: .1rem;
    color: #3490dc;
}

.location-container {
    position: relative;
}

.location-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgb(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    text-align: center;

    &:hover {
        background-color: rgb(0, 0, 0, 0.5);
    }
}

.facility-icon {
    font-size: 2rem;;
}

.navtab-bg {
    background-color: rgb(247, 247, 247);
    color: black;

    .nav-link .active {
        background-color: white;
    }
}

